.container {
  border: 5px solid black;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.item {
  border: 5px solid lightskyblue;
  text-align: center;
  font-size: 30px;
  padding: 7px;
}

.item:nth-of-type(1) {
  background-color: lightskyblue;
  grid-column: 2 / 4;

}

.item:nth-of-type(2) {
  background-color: lightpink;
  grid-column: 3 / 5;

}

.item:nth-of-type(3) {
  background-color: lightgreen;
  grid-column: 2 / 3;
  grid-row: 3 / 5;


}

.item:nth-of-type(4) {
  background-color: #faf;
  grid-column: 4 / 5;
  grid-row: 3 / 5;

}

.item:nth-of-type(5) {
  grid-row: 1;
}

.item:nth-of-type(6) {
  grid-column: 4;
  grid-row: 1;
}

.item:nth-of-type(7) {
  grid-column: 1;
  grid-row: 2;
}

.item:nth-of-type(8) {
  grid-row: 2;
}